.task {
    width: 236px;
	&__description{
        width: 140px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
	}
}