.column {
	&__title-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 8vh;
		justify-content: space-evenly;
		padding: 8px;
	}

	&__tasks-container {
	  padding: 8px;
	  overflow-y: auto;
		height: 76%;
	}

	&__buttons-container{
		display: flex;
		flex-direction: row;
		padding: 8px;
		justify-content: space-evenly;
	}
}

input[type=text]:not(:focus) {
  border: 0;
}

.title-container__buttons {
  padding: 8px;
	max-width: 35%;
}

.title-container__title {
	font-size: 18px;
	max-width: 90%;
	text-transform: uppercase;
}