@import '../../../index.scss';

.main {
  &_container {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0 !important;
    padding: 15px;

    @media (max-width: $md) {
      padding: 10px;
    }
  }

  &_item {
    position: relative;
    cursor: pointer;
    height: 243px;

    &__image {
      height: 100%;
    }

    &-wrapper {
      position: relative;
    }

    &__title {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #fff;
      z-index: 10;
    }
  }

  &_delete-btn {
    position: absolute !important;
    display: block;
    right: 5px;
    bottom: 0;
    z-index: 10;
  }
}
