// breakpoints the same with MUI values
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#root {
  background-image: url(./../public/assets/image/background70.png);
}
