.welcome {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  .welcome__login {
    margin: 20px auto;
    .signButton {
      min-width: 100px;
      height: 40px;
      color: white;
      text-decoration: none;
      background-color: #6b2888;
      border-radius: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 15px;
      padding: 5px 10px;
      &:hover {
        background-color: #4a1c5f;
      }
    }
  }
  .welcome__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 80px;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
    .welcome__info {
      max-width: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      box-shadow: -5px -3px 22px -5px rgba(34, 60, 80, 0.6);
      padding: 20px;
      background-color: #fff;
      .welcome__info--title {
        margin-bottom: 60px;
        font-size: 35px;
      }
      .welcome__info--text {
        line-height: 1.8;
        margin-bottom: 50px;
      }
      .welcome__info--subtitle {
        margin-bottom: 50px;
      }
    }
    .info {
      background-image: url(../../../../public/assets/image/korp-sait.png);
    }
    .welcome__img {
      max-width: 600px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 0 30px;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }
  .team {
    display: flex;
    .team-img {
      background-image: url(../../../../public/assets/image/team.png);
      max-width: 600px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .welcome__team {
      max-width: 600px;
      width: 100%;
      text-align: center;
      box-shadow: 11px 11px 25px -5px rgba(34, 60, 80, 0.6);
      background-color: #fff;
      .welcome__team--title {
        margin-bottom: 20px;
        font-size: 35px;
      }
      .team__members {
        display: flex;
        flex-direction: column;
        .team__member {
          display: flex;
          box-shadow: 0px -5px 27px -8px rgb(34 60 80 / 45%);
          padding: 5px;
          .team__member-img {
            max-width: 155px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
          }
          .memb-1 {
            background-image: url(../../../../public/assets/image/bonbo.png);
          }
          .memb-2 {
            background-image: url(../../../../public/assets/image/bonbo.png);
          }
          .memb-3 {
            background-image: url(../../../../public/assets/image/bonbo.png);
          }
          .memb-4 {
            background-image: url(../../../../public/assets/image/bonbo.png);
          }
          .team__member-info {
            padding: 0 10px;
            .team__member-title {
              margin-bottom: 20px;
            }
            .team__member-text {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .video {
    display: flex;
    margin-bottom: 80px;
    .welcome__video {
      max-width: 600px;
      width: 100%;
      text-align: center;
      box-shadow: -5px -3px 22px -5px rgba(34, 60, 80, 0.6);
      background-color: #fff;
      .welcome__video--title {
        font-size: 25px;
      }
      .welcome__video--video {
        display: inline-block;
        position: relative;
        max-width: 600px;
        width: 100%;
        height: 371px;
        overflow: hidden;
        text-align: center;
        background-image: url(../../../../public/assets/image/video.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0;
        .welcome__video--video-container {
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 20px 15px;
          box-sizing: border-box;
          background-color: rgb(0 0 0 / 26%);
          .welcome__video--title {
            margin-bottom: 20px;
            font-size: 40px;
          }
          .welcome__video--text {
            margin-bottom: 20px;
          }
          .welcome__video--link {
            .welcome__video--btn {
              transition: all 0.4s ease-in-out;
              text-decoration: none;
              color: #fff;
              background-color: #6b2888;
              letter-spacing: 0.5px;
              transition: background-color 0.2s ease-out;
              cursor: pointer;
              border-radius: 10px;
              display: flex;
              height: 50px;
              max-width: 300px;
              width: 100%;
              text-transform: uppercase;
              align-items: center;
              justify-content: center;
              margin: 0 auto;
              &:hover {
                background-color: #4a1c5f;
              }
            }
          }
        }
      }
    }
    .video-img {
      background-image: url(../../../../public/assets/image/videoo.png);
    }
  }
}
